
<!DOCTYPE html>

<!-- --------------------------------
All texts on the pages are queried from LANG.JS file
depending on which language is chosen in the beginning

This file is originally from NTIVIS14 group and has been
changed very little. (Re)Move bootstraps, Metro-UIs etc.
with caution. 

This is the instructions page and is shown on the
second screen while the measurement is being done
--------------------------------- -->

<html>

<% text %>

<head>
  <title><%= text.title %>></title>

  <!-- ONLINE JQUERYS AND BOOTSTRAPS AND WHAT-NOTS
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/UIstyle.css">
  <link href="/Metro-UI-CSS-master/build/css/metro.css" rel="stylesheet">
  <link href="/Metro-UI-CSS-master/build/css/metro-icons.css" rel="stylesheet"> -->

  <!-- LOCAL jquery and bootsrap libraries 
		USE THESE IF RUNNING A RISK OF NO INTERNET CONNECTION -->
  <script src="/bootstrap-3.3.6/js/bootstrap.js"></script>
	<link href="/bootstrap-3.3.6/css/bootstrap.css" rel="stylesheet"> 
	<link href="/Metro-UI-CSS-master/build/css/metro.css" rel="stylesheet">
	<link href="/Metro-UI-CSS-master/build/css/metro-icons.css" rel="stylesheet">

  <link href="/css/styles.css" rel="stylesheet">
</head>

<body id="grad" onload="editData()">
<center class="container">
	<div>
    <div class="row">
		    <div class="col-md-4 image-instr"><img src="/images/kehonkoostumus.png"></div>
        <div class="col-md-8">
          <ol>
            <li><%= text.instr1 %></li>
            <li><%= text.instr2 %></li>
            <li><%= text.instr3 %></li>
            <li><%= text.instr4 %></li>
            <li><%= text.instr5 %></li>
            <li><%= text.instr6 %></li>
            <li><%= text.instr7 %></li>
            <li><%= text.instr8 %></li>
         </ol>
       </div>
    </div>
	</div>
</center>


<link rel="stylesheet" href="/css/inProcessPoster.css">
</body>
</html>
