<!DOCTYPE html>

<!-- --------------------------------
All texts on the pages are queried from LANG.JS file
depending on which language is chosen in the beginning

This page shows the results after the measurement

Results are added to the page in the javascript
--------------------------------- -->

<html>

<head>
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
	<link href="/css/styles.css" rel="stylesheet">
	<link href="/css/results.css" rel="stylesheet">
	<link href="/Metro-UI-CSS-master/build/css/metro.css" rel="stylesheet">
	<link href="/Metro-UI-CSS-master/build/css/metro-icons.css" rel="stylesheet">
</head>

<% text %>

<body id="grad">
	<div class="jumbotron">
        <h1 class="text-center" style="font-size: 5.5em; margin: 20px 0px 20px 0px; color: black;"><%= text.results %></h1>
	</div>
	<div class="gridWrapper">
		<!-- Results are appended into these divs in results.js -->
		<div class="header2 toEmail" id="resultsHeader">
			<button id="basicsButton" type="button"><%= text.results %></button>
			<button id="extensivesButton" type="button"><%= text.extensive %></button>
			<button id="limbsButton" type="button"><%= text.limbs %></button>
		<!--	Result header is printed here in results.js
				Data such as date, time and gender -->
		</div>
		
		<div class="sideMarginLeft"></div>	<!-- Margin on the left side of results -->
		
			<div id="results"> <!-- Extensive contains basic results too so this does not need class="toEmail" -->
					<!-- Do not add any elements in here manually
							All elements are cleared when the results are printed -->		
			</div>

			<div id="extensive" class="toEmail">
			</div>

			<div id="limbs" class="toEmail">
			</div>

		<div class="sideMarginRight"></div> <!-- Margin on the right side of results -->
		
		<div class="exitArea">
			<button id="punkkia"><%= text.sendTo %></button>
			<button id="exitButton" type="button" onclick="goHome()"><%= text.exit %></button>
		</div>
	</div>


<!-- Modal definition start -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
        <p class="detail"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= text.close %></button>
      </div>
    </div>

  </div>
</div>
<!-- Modal definition end -->

<!-- Email address input modal -->
<div id="emailModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= text.promptEmail %></h4>
      </div>
      <div class="modal-body">
        <!-- EMAIL INPUT -->
				<form id="email" action="sendEmail" method="POST">
					<input type="text" name="address" id="address" placeholder="<%= text.promptEmail %>">
					<button id="sendEmailButton" type="submit"><%= text.send %></button>
					<div class=loader></div> <!-- LOADER ANIMATION -->
				</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= text.close %></button>
      </div>
    </div>

  </div>
</div>

<!-- Email sent / fail info modal -->
<!-- Not a bootstrap modal because vittu mä vihaan bootstrapia -->
<div id="emailInfoModal" <% if (success === true || success == false) {%> style="display:block" <%} %>> <!-- Show if success variable exists -->
  <!-- Modal content -->
  <div id="emailInfoModal-content">
    <span id="emailInfoClose">&times;</span>
		<% if (success === true) { %>
    	<p><%= text.success %></p>
		<% } else { %>
			<p><%= text.failure %></p>
		<% } %>
  </div>

</div>



<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

<script src="/jquery/dist/jquery.min.js"></script>
<script src="/jquery-ui/jquery-ui.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Metro-UI-CSS-master/build/js/metro.js"></script>
<script src="/js/script.js"></script>
<script src="/logs/fi_descriptions.js"></script>
<script src="/logs/en_descriptions.js"></script>
<script src="/logs/fi_details.js"></script>
<script src="/logs/en_details.js"></script>
<!-- Pass the chosen language to results.js script -->
<script data-language=<%= lang %> src="/js/results.js"></script>

</body>

</html>
 